.personal-library-layout {
    display: flex;
}

.personal-library-container {
    margin-left: 220px;
    /* Adjust according to the width of the left nav */
    padding: 20px;
    width: calc(100% - 220px);
    /* Adjust according to the width of the left nav */
}

.add-book-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #9b59b6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-book-button:hover {
    background-color: #8e44ad;
}

.books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-tile {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}

.book-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.book-details {
    margin-bottom: 15px;
}

.book-actions {
    display: flex;
    justify-content: space-between;
}

.edit-button,
.delete-button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.edit-button {
    background-color: #3498db;
    color: white;
}

.delete-button {
    background-color: #e74c3c;
    color: white;
}
