/* Left Nav Styling */
.left-nav {
    width: 200px;
    height: 100vh;
    background-color: #333;

    color: #EEDFCC;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: fixed;
    justify-content: flex-start;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);

}


.nav-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 75px;
}

.user-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.user-button:hover .user-icon {
    color: #CBA135;

}

.user-icon {
    font-size: 32px;
    color: #EEDFCC;

}

.user-info {
    margin-top: 10px;
    text-align: center;
    color: #EEDFCC;

    font-size: 16px;
}

.user-info .user-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
}

.user-info .user-email {
    font-size: 14px;
    margin-bottom: 10px;
}


.nav-links {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.nav-links li {
    width: 100%;
    margin-bottom: 50px;

}

.nav-links a {
    text-decoration: none;
    color: #EEDFCC;

    font-size: 30px;
    padding: 10px;
    width: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a.active-link {
    background-color: #CBA135;

    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #CBA135;

    color: #FFFFFF;

    border-radius: 5px;
}


.logout-button {
    background-color: #E9967A;

    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.logout-button:hover {
    background-color: #C0392B;
    
}
