.left-nav {
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: fixed;
    justify-content: flex-start;
    /* Align items towards the top */
}

.nav-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    /* Slight space above the user icon */
    margin-bottom: 75px;
    /* Adjust this to control space between icon and links */
}

.user-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.user-button:hover .user-icon {
    color: #007bff;
    /* Change the color of the icon on hover */
}

.user-icon {
    font-size: 32px;
    /* Adjusted font size */
    color: white;
    /* Default color of the icon */
}

.user-info {
    margin-top: 10px;
    /* Space between the icon and the text */
    text-align: center;
    color: white;
    font-size: 25px;
    /* Increase the font size */
}

.user-info .user-name {
    margin-bottom: 7px;
    /* Space between the username and email */
}

.user-info .user-email {
    margin-top: 7px;
    /* Optional, just to ensure spacing is consistent */
}

.nav-links {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.nav-links li {
    width: 100%;
    margin-bottom: 100px;
    /* Space between each link */
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    /* Increased font size */
    padding: 10px;
    width: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
}

.nav-links a.active-link {
    background-color: #007bff;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #007bff;
    /* Change background color on hover */
    color: #ffffff;
    /* Change text color on hover */
    border-radius: 5px;
    /* Optional: to match the active-link style */
}

.nav-links a.active-link {
    background-color: #007bff;
    border-radius: 5px;
}
