/* Star Rating Container */
.star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.fas.fa-star {
    font-size: 2rem;
    margin: 0 5px;
    transition: color 0.2s ease-in-out;
}

.filled {
    color: gold;
}

.empty {
    color: gray;
}


.submit-button,
.cancel-button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s;
    width: auto;

}


.submit-button {
    background-color: #CBA135;

    color: #2F2F2F;

}

.submit-button:hover {
    background-color: #B8902D;

    transform: translateY(-2px);

}

.submit-button:disabled {
    background-color: #888888;

    color: white;

    cursor: not-allowed;

}

/* Cancel Button */
.cancel-button {
    background-color: #E74C3C;

    color: white;
}

.cancel-button:hover {
    background-color: #C0392B;

    transform: translateY(-2px);

}


.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
    
}
