.star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.fas.fa-star {
    font-size: 2rem;
    margin: 0 5px;
    transition: color 0.2s ease-in-out;
}

.filled {
    color: gold;
}

.empty {
    color: gray;
}
