/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal Content */
.modal-content {
    background-color: rgba(43, 43, 43, 0.95);

    padding: 25px;
    border-radius: 10px;
    position: relative;
    width: 400px;
    color: #EEDFCC;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);

    font-family: 'Poppins', sans-serif;
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.modal-title {
    font-size: 22px;
    font-weight: bold;
    color: #E9967A !important;

    margin: 0;
    text-transform: uppercase;
}


.close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #EEDFCC;
}

.close-button:hover {
    color: #CBA135;

}


.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 15px;
}


.submit-button {
    background-color: #CBA135;

    color: #2F2F2F;

    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.submit-button:hover {
    background-color: #B8902D;

    transform: translateY(-2px);

}


.cancel-button {
    background-color: #E74C3C;

    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.cancel-button:hover {
    background-color: #C0392B;

    transform: translateY(-2px);
    
}
