.splash-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #2B2B2B;
    text-align: center;
    position: relative;
    /* Allows absolute positioning inside */
}

.logo {
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 225px;
}

.header h2 {
    color: #F5F5F5;
    font-size: 36px;
    /* Apply White Smoke to the "Start trading books today!" text */
}

.header {
    margin-bottom: 30px;
    margin-top: -120px;
    font-weight: 600;
    /* Adjust the weight to your preference */
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 175px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(200, 120, 224);
    color: white;
    font-weight: 500;
    /* Adjust button font weight */
}

.btn:hover {
    background-color: #007bff;
}

.description {
    margin-top: 80px;
    font-size: 18px;
    max-width: 600px;
    color: #333;
    font-weight: 300;
    color: #F5F5F5;
    font-style: italic;
    /* Light font weight for description */
}
